.block{
    background-color: rgb(0, 129, 15);
    border-radius: 22px;
    width: 450px;
    height: 320px;
    /* text-align: center; */
    margin: auto;
}

.block-inside{
    background-color: rgb(247, 246, 182);
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#background-img{
    background-image: url(img/background-image.webp);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

h1, h3{
    text-align: center;
}

.dices-block{
    width: 450px;
    height: 190px;
    background-color: rgb(243, 241, 241);
    border-radius: 22px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#dice-1{
    border-radius: 20px;
    margin-right: 30%;
}

#dice-2{
    border-radius: 20px;
}

#dice-button{
    
}

.sum .point {
    font-family: 'Times New Roman', Times, serif;
}

.flex-box{
    display: flex;
}

.col{
    flex: 1;
}
