/* #div-one{
    background-color: red;
    width: 700px;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#div-two{
    background-color: green;
    width: 700px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
} */

#div-one {
    width: 700px;
    background-color: red;
    padding: 0;
    margin: auto;
    text-align: center;
}

#div-two {
    width: 700px;
    background-color: green;
    padding: 25px;
    margin: auto;
    text-align: center;
}
