.showcase{
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.product{
    background-color: green;
    padding: 20px;
    height: 330px;
    border-radius: 20px;
}

.shoe-img{
    width: 250px;
    height: 200px;
    max-width: auto;
    max-height: auto;
    border-radius: 20px;
}

#baseboard{
    background-color: grey;
    border-radius: 20px;
    text-align: center;
    width: 1850px;
    height: 40px;
}
