body{
    background-image: url(img/brazil-map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.block{
    background-color: rgb(20, 22, 20);
    border-radius: 22px;
    width: 450px;
    height: 320px;
    text-align: center;
    margin: auto;
}

/* .block{
    background-color: rgb(20, 22, 20);
    border-radius: 22px;
    width: 450px;
    height: 320px;
    text-align: center;
    margin: auto;
} */

#title{
    color: azure;
    margin-top: 100px;
}

h3{
    color: aliceblue;
    text-align: left;
    padding-left: 10px;
}
